/* COMMON */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

:root {
    --black: #030303;
    --dark-grey: #606060;
    --light-grey: #f8f8f8;
    --border-bottom: 1px solid #dfe6e9;
}

body {
    font-family: "Roboto", Arial, sans-serif;
    color: var(--black);
    font-weight: 400;
}
img {
    max-width: 100%;
}
.icon {
    width: 24px;
    height: 24px;
    padding: 8px;
}

/* HEADER */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
.header-icons {
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-item {
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-form {
    width: 385px;
    height: 26px;
}
.search-button {
    width: 65px;
    height: 32px;
    background: url(img/search.png) no-repeat;
    border: 1px var(--light-grey);
    background-size: 20px;
    background-position: center;
    background-color: var(--light-grey);
    padding: 1px 6px;
    border: 1px solid var(--dark-grey);
    border-left: 0;
}
.logo {
    width: 120px;
}
.signin {
    width: 108px;
}

/* WRAPPER */
.wrapper {
    margin: auto;
    max-width: 1754px;
    width: 100%;
    display: flex;
}

/* MAIN SECTION */
.main-section {
    padding: 24px;
}

.recommendation {
    background: pink;
    width: 600px;
    padding: 24px 24px;
}

/* VIDEO */
.main-video {
    height: 700px;
}

.video {
    width: 100%;
    height: 100%;
}
.title-container {
    padding: 20px 0px 8px;
    border-bottom: var(--border-bottom);
}
.title-container h1 {
    font-weight: 400;
    font-size: 18px;
    margin: 0px;
}
.title-container div p {
    font-size: 14px;
    color: var(--dark-grey);
}

.views_and_likes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.likes_and_share_icons {
    display: flex;
    align-items: center;
    padding: 8px;
}

.description {
    padding-bottom: 20px;
    border-bottom: var(--border-bottom);
    margin-bottom: 24px;
}

.description-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 0 0 0;
    margin: 0 0 12px;
    align-items: center;
}

.description-text {
    font-size: 14px;
    margin: 0 20px 30px 64px;
}
.show-more {
    margin: 8px 0 0 64px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-grey);
}

.authour {
    display: flex;
}
.authour p {
    margin-left: 16px;
}
.authour img {
    width: 48px;
    height: 48px;
    border-radius: 50%;
}

.button-subscribe {
    padding: 10px 16px;
    background-color: #d63031;
    border: none;
    color: white;
    font-weight: 500;
    border-radius: 2px;
}

/* COMMENTS */
.comment {
    display: flex;
    align-items: center;
}

.comments h2 {
    font-size: 16px;
    font-weight: 400;
}

.comment-avater {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.comment_from {
    width: 100%;
    font-size: 14px;
    color: var(--dark-grey);
}

.comment p {
    border-bottom: var(--border-bottom);
    padding: 0 0 4px 0;
    margin: 0;
}


}

.up-next{
    display: flex;
    justify-content: space-between;
}

.autoplay{
    display: flex;
}

.autoplay img{
    width: 36px;
}


.thumbnail{
    display: flex;
    justify-content: space-between;
}
.thumbnail text{
    display: flex;
    width: 100%
}


.thumbnail img{
    width: 168px;
    height: 94px;

}
