.main-header {
  display: flex;
}
.main-logo {
}

.navigation {
  flex: 0 0 24px;
}

.navigation img {
  width: 24px;
  height: 24px;
}

.icon {
  width: 24px;
  height: 24px;
  padding: 16px;
  border: none;
}
.icon__video {
  background-image: url(img/icons-video.png);
  background-size: contain;
  background-position: center;
}
.icon__blocks {
  background-image: url(img/icons-blocks.png);
  background-size: contain;
  background-position: center;
}
.icon__menu {
  background-image: url(img/icons-menu.png);
  background-size: contain;
  background-position: center;
}
